###############
#    folder   #
###############
/DROP/
/TEMP/
/**/packages/
/**/bin/
/**/csx/
/**/obj/
/**/node_modules/
/**/*.sln.ide/
/DocProject/
/TestResults/
/.vs/
###############
#  temp file  #
###############
*.nupkg
*.log
*.tmp
*.vsprops
*.suo
*.user
*.userprefs
*.suo
*.sln.ide
*.cache
.gitattributes
.settings
log.txt
debugSettings.json
launchSettings.json
project.lock.json
nuget.exe


############################
#  wix intermediate files  #
############################
Installer/obj/
Installer/*.wixpdb
Installer/*.wixobj
Installer/*.msi
