<?xml version="1.0"?>
<?define ProductVersion = "0.0.1"?>
<?define ProductUpgradeCode = "CD6D527F-70A3-4F4A-AF75-669F55136BED"?>
<?define VsVersion = "14.0"?>
<?define VsixDropFolder = "..\..\Drop\Debug\Vsix"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension">
  <Product Id="*" Language="1033" Manufacturer="Microsoft CAPS" Name="Doc-as-code Project" UpgradeCode="$(var.ProductUpgradeCode)" Version="$(var.ProductVersion)">
    <Package Comments="Windows Installer Package" Compressed="yes" InstallerVersion="200"/>
    <Media Cabinet="product.cab" EmbedCab="yes" Id="1"/>
    <Icon Id="ProductIcon" SourceFile="installer.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
    <Property Id="ARPNOREPAIR" Value="1"/>
    <Property Id="ARPNOMODIFY" Value="1"/>
    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED"/>
    </Upgrade>
    <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="StrangeMicrosoft Docascode">
          <Directory Id="BUILDMETADIR" Name="StrangeBuildMeta">
            <Component Id="VSPackage" Guid="63A926FD-C523-434C-BF8A-83B184264898">
              <!-- <VSExtension:VsixPackage File="VsPackageInstaller" PackageId="897d8579-59cd-4d80-bf9e-8e00e270775c"  Vital="no" Permanent="yes" Target="ultimate" TargetVersion="14.0"/> -->
              <File Id="VsPackageInstaller" Name="DocProject.vsix" Source="$(var.VsixDropFolder)\DocProject.vsix"/>
              <RemoveFolder Id="RemoveBuildMetaDir" On="uninstall" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="VSINSTALLDIR">
        <RegistrySearch Id="VSInstallRegistry" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\$(var.VsVersion)" Name="InstallDir" Type="directory" />
    </Property>

    <CustomAction Id="SetVSIXInstaller" Return="check" Execute="immediate" Property="VSIXInstaller" Value="C:\Program Files (x86)\Microsoft Visual Studio $(var.VsVersion)\Common7\IDE\VSIXInstaller.exe" />
    <CustomAction Id="DeployVSIX" Property="VSIXInstaller" Execute="deferred" Impersonate="no" ExeCommand="/quiet" Return="asyncWait"/>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate"/>
      <Custom Action="DeployVSIX" After="MsiPublishAssemblies" />
    </InstallExecuteSequence>

    <Feature Id="Complete" Title="Docascode v$(var.ProductVersion)" Description="The complete package for docascode v$(var.ProductVersion)" Level="1">
      <Feature Id="BuildMeta" Title="Install BuildMeta globally" Description="Install BuildMeta globally" Level="1">
        <ComponentGroupRef Id="BuildMetaFiles"/>
      </Feature>
      <Feature Id="DocascodeVsix" Title="Microsoft Docascode" Level="0">
          <ComponentRef Id="VSPackage" />
      </Feature>
    </Feature>
  </Product>
</Wix>