<!--<a href="#" class="navbar-brand"><img src="../logo.png"></img></a>-->
<ul class="nav navbar-nav">
  <li ng-repeat="navGroup in model track by navGroup.id" ng-if="model">
    <a ng-href="{{GetNavHref(navGroup.href)}}" ng-class="navClass(navGroup)" class="">{{ navGroup.id }}</a>
  </li>
  <li class=""></li>
</ul>