<!DOCTYPE html>
<html lang="en" ng-app="docsApp" ng-strict-di ng-controller="DocsController">
<!--
   This is <<%= grunt.config('pkg').name %>> v<<%= grunt.config('pkg').version %>>
-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="Description"
        content="Docascode with pure client-side JavaScript!">
  <meta name="fragment" content="!">
  <title ng-bind-template="Docascode: {{ currentArea.name }} {{ partialModel.title || currentPage || 'Generating Documentations For You'}}">Docascode</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
<!--  <script type="text/javascript" src="app/bower_components/highlightjs/highlight.pack.js"></script>
  <script type="text/javascript" src="app/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="app/bower_components/angular/angular.js"></script>
    
  <script type="text/javascript" src="app/src/services/contentService.js"></script>
  <script type="text/javascript" src="app/src/services/csplayService.js"></script>
  <script type="text/javascript" src="app/src/services/urlService.js"></script>
  <script type="text/javascript" src="app/src/services/markdownService.js"></script>
  <script type="text/javascript" src="app/src/content/yamlContentDirective.js"></script>
  <script type="text/javascript" src="app/src/content/markdownContentDirective.js"></script>
  <script type="text/javascript" src="app/src/container/container.js"></script>
  <script type="text/javascript" src="app/src/navbar/navbar.js"></script>
  <script type="text/javascript" src="app/src/util/bootstrap.js"></script>
  <script type="text/javascript" src="app/src/util/constants.js"></script>
  <script type="text/javascript" src="app/src/util/pages-data.js"></script>
  <script type="text/javascript" src="app/src/util/directives.js"></script>
  <script type="text/javascript" src="app/src/util/util.js"></script>
  <script type="text/javascript" src="app/src/util/versions-data.js"></script>
  <script type="text/javascript" src="app/src/util/versions.js"></script>
    
  <script type="text/javascript" src="app/src/controller.js"></script>
  <script type="text/javascript" src="app/src/app.js"></script>-->
<%
    var config = compileConfig.config;
    if (config !== 'debug' && config !== 'release'){
      grunt.log.error('Unsupported config: ' + config);
    }

    grunt.log.writeln('Building single index.html of config: ' + config);
    var js = copydest.js;
    var css = copydest.css;
    var ext = copydest.ext;

    var ownJsFileFull =  concat.js.dest;
    var ownCssFileFull = concat.css.dest;
    var ownJsFileMin = uglify.js.dest;
    var ownCssFileMin = cssmin.target.dest;

    function print_script_ref(ref) {
        print('<script type="text/javascript" src="' + ref + '"></script>\n');
    }
    function print_style_ref(ref) {
        print('<link rel="stylesheet" href="' + ref + '" type="text/css"></link>\n');
    }
    
    function getReferencePath(folder, path, grunt){
      var relPath = path;
      var i = path.lastIndexOf('/')
      if (i > -1) relPath = path.substr(i + 1);
      relPath = folder + '/' + relPath;
      grunt.log.writeln('Getting reference path' + relPath + ' in: ' + folder + ', path: ' + path + ', index: ' +i);
      return relPath;
    }

    if (config === 'debug') {
        // INLINE SCRIPTS AND CSS
        for(var i = 0, len = unminifiedCssFiles.length; i < len; i++) {
            var path = getReferencePath(ext, unminifiedCssFiles[i], grunt);
            print_style_ref(path, grunt);
        }
        for(var i = 0, len = unminifiedJsFiles.length; i < len; i++) {
            var path = getReferencePath(ext, unminifiedJsFiles[i], grunt);
            print_script_ref(path, grunt);
        }

        // For CDNs always ref
        for(var i = 0, len = cdnCssFiles.length; i < len; i++) {
            print_style_ref(cdnCssFiles[i], grunt);
        }
        for(var i = 0, len = cdnJsFiles.length; i < len; i++) {
            print_script_ref(cdnJsFiles[i], grunt);
        }
        
        // OUR OWN CODE
        var path = getReferencePath(css, ownCssFileFull, grunt);
        print_style_ref(path, grunt);
        path = getReferencePath(js, ownJsFileFull, grunt);
        print_script_ref(path, grunt);
    }

    if (config === 'release') {
        // For CDNs always ref
        for(var i = 0, len = cdnCssFiles.length; i < len; i++) {
            print_style_ref(cdnCssFiles[i], grunt);
        }
        for(var i = 0, len = cdnJsFiles.length; i < len; i++) {
            print_script_ref(cdnJsFiles[i], grunt);
        }
        // OUR OWN CODE
        var path = getReferencePath(css, ownCssFileMin, grunt);
        print_style_ref(path, grunt);
        path = getReferencePath(js, ownJsFileMin, grunt);
        print_script_ref(path, grunt);
    }
%>
</head>
<body>

  <div id="console">
    <div id="player"></div>
      <button id="run" class="btn">Run</button>
      <button id="close" class="btn">Close</button>
    </div>
  </div>
  <div id="wrapper">
    <header scroll-y-offset-element ng-controller="NavbarController">
      <div class="topnav navbar navbar-inverse navbar-default">
        <div class="container">
          <div ng-include="'template/navbar.html'"></div>
          <!-- comment out search box as it is not currently supported
          <form ng-class="{focus:focus}" class="navbar-search col-md-3 docs-search" ng-submit="submit()">
            <span class="glyphicon glyphicon-search search-icon"></span>
            <input type="text"
                   name="as_q"
                   class="search-query"
                   placeholder="Click or press / to search"
                   ng-focus="focus=true"
                   ng-blur="focus=false"
                   ng-change="search(q)"
                   ng-model="q"
                   docs-search-input
                   autocomplete="off" />
          </form> -->
        </div>
      </div>
      <div class="subnav navbar navbar-default">
        <div class="container">
            <ul class="breadcrumb">
              <li ng-repeat="crumb in breadcrumb">
                <a ng-href="{{::getBreadCrumbHref(crumb.url)}}">{{::crumb.name}}</a>
              </li>
            </ul>
        </div>
      </div>
      <div class="grad-top"></div>
      <!--<div class="search-results-container" ng-show="hasResults">
        <div class="container">
          <div class="search-results-frame">
            <div ng-repeat="(key, value) in results" class="search-results-group" ng-class="colClassName + ' col-group-' + key">
              <h4 class="search-results-group-heading">{{ key }}</h4>
              <div class="search-results">
                <div ng-repeat="item in value" class="search-result">
                  - <a ng-click="hideResults()" ng-href="#{{ item.path }}">{{ item.name }}</a>
                </div>
              </div>
            </div>
          </div>
          <a href="" ng-click="hideResults()" class="search-close">
            <span class="glyphicon glyphicon-remove search-close-icon"></span> Close
          </a>
        </div>
      </div>-->
      <!-- Temp disable it: what to show for conceptual?
      <div class="sup-header">
        <div class="container main-grid main-header-grid">
          <div class="grid-left">
            <div ng-controller="DocsVersionsCtrl" class="picker version-picker">
              <select ng-options="v as ('v' + v.version + (v.isSnapshot ? ' (snapshot)' : '')) group by getGroupName(v) for v in docs_versions"
                      ng-model="docs_version"
                      ng-change="jumpToDocsVersion(docs_version)"
                      class="docs-version-jump">
              </select>
            </div>
          </div>
        </div>
      </div>-->
    </header>

    <div role="main" class="container" ng-controller="ContainerController">
      <div ng-if="toc" class="grid-left sidenav" ng-repeat="model in [toc.content]" ng-include="'template/toc.html'">
      </div>
      <div ng-class="{grid: !toc, 'grid-right': toc}" class="article">
        <div id="contentLoading" ng-show="contentLoading">Loading...</div>
        <!--For conceptual-->
        <markdown-content get-map="true" src="contentPath" ng-cloak ng-if="contentType === 'markdown'" ng-hide="contentLoading" autoscroll></markdown-content>
        <!--For yaml pages-->
        <yaml-content content-type="{{contentType}}" get-map="true" ng-model="contentPath" ng-cloak ng-if="contentType !== 'markdown'" ng-hide="contentLoading" autoscroll></yaml-content>
      </div>
    </div>
   <footer>
      <div class="grad-bottom"></div>
      <div class="footer">
        <div class="container">
          <span class="pull-right"><a back-to-top>Back to top</a></span>
          <span>
            Copyright © 2015 Microsoft<br />
            Powered by Doc-as-Code
          </span>
        </div>
      </div>
    </footer>
  </div>

</body>
</html>
