<div class="">
  <!--article-content-->
  <article class="">
    <div id="article-header">
      <h1 class="">
        {{model.type}} {{model.name.CSharp}}
      </h1>
      <div ng-if="model.mdHref">
        <a ng-href="{{model.mdHref}}" class="btn btn-primary pull-right">Improve this Doc</a>
      </div>
      <a class="btn btn-primary pull-right" ng-href={{ViewSource()}}> View Source</a>
      <section class="">
        <div class="" >
          <markdown ng-model="model.summary">
          </markdown>
          <markdown ng-model="model.mdContent">
          </markdown>
        </div>
      </section>
    </div>
    <section id="article-body">
      <div class="" ng-repeat="itemtype in itemtypes" >
        <h3 class="" ng-if="itemtype.show">{{itemtype.description}}</h3>
        <table ng-if="itemtype.show">
          <tr ng-repeat="item in model.items" ng-show="item.type==itemtype.name">
            <td>
              <a href="{{GetLinkHref(item.href)}}">
                {{item.id.replace(model.id + '.', '')}}
              </a>
            </td>
            <td>
              <div class="">
                <markdown ng-model="item.summary">
                </markdown>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </article>
</div>