a{
    color: #6F0101;
}
.btn{
    color: #6F0101;
}
#article-header .article-header-content{
    font-size: 14px;
    padding: 25px 0 25px 0;
}

#article-header #metadata_table hr {
    margin: 0 0 3px;
    border: 0;
    height: 2px;
    background: rgba(233,233,233,1);
    position: relative;
    top: -1px;
    width: 50%;
}

#article-header .para {
    color: rgba(65,65,65,1);
    font-size: 1.2em;
    line-height: 145%;
}

#article-header div.inheritance-table-line  {
    list-style-type: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 13px;
}

#article-header div.inheritance-table-line span {
    margin-left:5px;
}

#article-header div.inheritance-table-last-line span{
    /*margin-left:12px;*/
    margin-left:5px;
}

#article-header #metadata_table a {
    line-height: 1.5;
}

article div.section-member-header{
    background: #fff;
    /*left: -15px;*/
    margin-bottom: 0;
    position: relative;
    width: 100%;
}

article li.section-member div.btn{
    display:none;
}

article h3.section-name{
    font-size: 2em;
    color: #6F0101;
    margin-top: 30px;
}

article h4.section-member-name{
    font-size: 1.5em;
}

/*article h3.section-member-name{
    display: block;
    font-family: Helvetica;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
}*/

article ul.section-members{
    padding-left: 0px
}

article li.section-member{
    background: #fff;
    /*left: -25px;*/
    list-style-type: none;
    padding: 0px 3px 13px;
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition: -moz-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    transition: transform .3s ease;
}
article li.section-member a.section-member-detail{
    color: #6F0101;
    text-decoration: none;
	font-size: 14px;
    cursor: pointer;
    position: relative;
    /*left: -20px;*/
}
article li.section-member a.section-member-detail::before{
    /*content: '+ ';*/
    padding: 0px 0px 0px 10px;
}

article li.section-member table a {
    font-size: 12px;
}
article div.height-container {
    display:none;
    left: -25px;
    padding: 0 25px;
    position: relative;
    width: 100%;
}
article div.height-container section {
    background: rgba(249,249,249,1);
    border: 1px solid rgba(233,233,233,1);
    /*border-bottom: 1px solid rgba(233,233,233,1);*/
    /*left: -25px;*/
    margin: 0;
    /*padding: 13px 25px 13px;*/
    position: relative;
    width: 100%;
}

article div.height-container section div{
     margin-top: 21px;
}

article div.pointy-thing-container {
    background: #fff;
    /*border-bottom: 1px solid rgba(233,233,233,1);*/
    /*left: -25px;*/
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
    position: relative;
    width: 100%;
}
article div.pointy-thing {
    background: rgba(249,249,249,1);
    border-left: 1px solid rgba(233,233,233,1);
    border-top: 1px solid rgba(233,233,233,1);
    height: 12px;
    left: 21px;
    top: -28px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    width: 12px;
}

article div.height-container{
    font-size: 14px;
}
article table{
    border: 2px solid rgba(233,233,233,1);
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: hide;
    margin: 20px 0 36px;
    text-align: left;
    width: 684px;
    overflow:hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
article td {
    border: 1px solid rgba(233,233,233,1);
    padding: 5px 25px 5px 10px;
    margin: 0;
    vertical-align: middle;
    max-width: 260px;
}
article table code{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    white-space : normal ; /* Internet Explorer 5.5+ */
}

.section-member-detail-before:hover {
    text-decoration: none;
}

/*For the xml and md section, the css should be customed*/
.xml-section ,.article-content code{
    /*<pre>,<code>?*/
    font: 13px/1.5 Monaco,Menlo,'Ubuntu Mono',Consolas,source-code-pro,monospace;
    background-color: inherit;
    white-space: pre-wrap;
}
.md-section{
    font: 14px/1.5 Tahoma,Helvetica,Arial,'ו',sans-serif;
}
.id-section{
    font: 12px/1.5 Tahoma,Helvetica,Arial,'ו',sans-serif;
}
.methodsyntax-section{
    font: 12px/1.5 Tahoma,Helvetica,Arial,'ו',sans-serif;
    margin-left: 15px;
}
