//========================================
//  declarations
//========================================
@brand-color: #6f0101;
@brand-highlight: #b52e31;
@grey: #999;
@grey-highlight: #000;
@font-default: 'Segoe UI', Tahoma, Helvetica, sans-serif;
@font-semibold: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
@font-light: 'Segoe UI Light', 'Segoe UI', Tahoma, Helvetica, sans-serif;

//========================================
//  basic style overrides
//========================================
body {
  font-family: @font-default;
}

a {
  color: @brand-color;
}

a:hover,
a:focus {
  color: @brand-highlight;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

//overwrite code style from highlighter
.hljs {
  background-color: inherit;
  padding: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: @font-light;
  font-weight: 700;
}

h5, .h5 {
  font-family: @font-semibold;
}

.btn {
  font-family: @font-semibold;
  border: 1px solid #e5e5e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
}

.btn:hover, .btn:focus {
  color: #000;
  background: white;
}

//========================================
//  top nav bar
//========================================
.topnav .nav > li > a.current {
  color: #fff;
}

//left align nav bar
.topnav .nav {
  margin-left: -15px;
}

/* content is everything that is not top nav */
.content {
  margin-top: 60px;
}

//========================================
//  side nav bar
//========================================
.sidenav {
    position: fixed;
    float: left;
    width: 260px;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidenav .nav > li > a {
    padding: 0px;
}

.sidenav .nav > li > a:hover,
.sidenav .nav > li > a:focus {
  background: none;
  text-decoration: inherit;
}

.sidenav-heading {
  font-family: @font-semibold;
}

.sidenav .sidenav-lvl-1 > li {
    margin: 10px 0;
}

//content section on the right
.article.grid-right {
  margin-left: 270px;
}

/* second lvl navbar grey text */

.sidenav .sidenav-lvl-2 > li > a {
  color: @grey;
}

.sidenav .sidenav-lvl-2 > li > a:hover,
.sidenav .sidenav-lvl-2 > li > a:focus {
  color: @grey-highlight;
}

//highlight selected
.sidenav .nav > li.current > a {
  color: @brand-highlight;
}

//========================================
//  article
//========================================

.item-title {
  color: @brand-color;
}

//inheritance indentation
.inheritance span {
  margin-left: 5px;
}

/* additional spacing fixes */


//========================================
//  console
//========================================

#console {
  position: fixed;
  width: 50%;
  height: 100%;
  margin-left: 100%;
}